<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui basic segment">
      <h4 class="ui horizontal divider header">
        Note List
      </h4>
      <div class="ui relaxed selection list">
        <app-notes-list-item 
          class="item" 
          *ngFor="let note of notes; let i = index" 
          [note]="note"
          [noteIndexId]="i"
          [routerLink]="i"
          routerLinkActive="active">
        </app-notes-list-item>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui basic segment">
      <h4 class="ui horizontal divider header">
        Preview
      </h4>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

