<div [ngClass]= "{ snippets: setPlaceholderHeader }">
  <h4 class="ui horizontal divider header" *ngIf="setPlaceholderHeader">
    <i class="file icon" [ngClass]="{ alternate: !setPlaceholder }"></i>
    Preview
  </h4>
  <app-note-display-placeholder *ngIf="setPlaceholder; else snippetList"></app-note-display-placeholder>
  <ng-template #snippetList>
    <div class="ui segments">
      <div class="ui basic segment">
        <div class="ui basic segment">
          <h3 class="ui header">{{ notePreviewService.title }}</h3>
        </div>
      </div>
      <div class="ui basic segment">
        <app-snippets *ngFor="let snippet of notePreviewService.snippets" [snippet]="snippet"></app-snippets>
      </div>
      <div class="ui basic segment">
        <div class="ui label" *ngFor="let tag of notePreviewService.tags">
          {{ tag }}
          <i class="delete icon" (click)="deleteTag(tag)"></i>
        </div>
      </div>
    </div>
  </ng-template>
</div>