<div class="ui segments">
  <div class="ui top attached segment">
    <p class="formMode">Edit Mode</p>
    <form class="ui form" #noteForm="ngForm">
      <div class="inline fields">
        <div class="thirteen wide field">
          <label>Title</label>
          <input
            ngModel
            #noteTitle="ngModel"
            type="text"
            name="noteTitle"
            placeholder="Note Title"
            (input)="onInputTitle()">
        </div>
        <div class="three wide field">
          <label>Id</label>
          <input type="text" readonly [value]="noteId">
        </div>
      </div>
      <div class="field">
        <label>Text</label>
        <textarea
          ngModel
          #noteText="ngModel"
          name="noteText"
          placeholder="Note Text"
          (input)="onInputNoteText()"
          ></textarea>
      </div>
      <div class="inline fields">
        <div class="seven wide field">
          <label>Tags</label>
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input
              #noteTags
              name="noteTags"
              type="text"
              placeholder="Note tag"
              (input)="onInputTagsField()">
            <button
              class="ui tag label button"
              type="button"
              (click)="onAddTag()"
              [disabled]="addTagButtonIsDisabled">
              Add Tag
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ui four bottom attached buttons">
    <button
      class="ui button"
      type="submit"
      (click)="onEditNote()"
      [disabled]="editNoteButtonIsDisabled">
      Edit Note
    </button>
    <button
      class="ui button"
      type="button"
      (click)="onClearNote()"
      [disabled]="clearNoteButtonIsDisabled">
      Clear Note
    </button>
    <button
      class="ui button"
      type="button"
      (click)="onDeleteNote()">
      Delete Note
    </button>
    <button
      class="ui button"
      type="button"
      (click)="onCancel()">
      Cancel Edit
    </button>
  </div>
</div>
  