<div
  class="ui"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  (mouseup)="onMouseUp()"
  [ngClass]="{ segments: mouseHover }">
  <div
    class="ui basic segment"
    [ngClass]="{ top: mouseHover, secondary: mouseHover, attached: mouseHover }">
    <div class="ui bulleted list" *ngIf="noPreList; else preList">
      <div class="item" *ngFor="let content of snippet.contents">{{ content }}</div>
    </div>
    <ng-template #preList>
      <p>{{ listHeader }}</p>
      <div class="ui bulleted list">
        <div class="item" *ngFor="let content of preListArray">{{ content }}</div>
      </div>
    </ng-template>
  </div>
  <div 
    class="ui bottom attached segment"
    *ngIf="mouseHover">
    <div class="ui icon buttons">
      <div class="ui button"><i class="file icon"></i></div>
      <div class="ui button"><i class="save icon"></i></div>
      <div class="ui button disabled"><i class="upload icon"></i></div>
      <div class="ui button"><i class="download icon"></i></div>
    </div>
  </div>
</div>

