<div class="ui segments">
  <div class="ui top attached segment">
    <div class="ui form">
      <div class="inline fields">
        <div class="thirteen wide field">
          <label>Title</label>
          <input type="text" placeholder="Note Title">
        </div>
        <div class="three wide field">
          <label>Id</label>
          <input type="text" readonly value="1-1">
        </div>
      </div>
      <div class="field">
        <label>Text</label>
        <textarea></textarea>
      </div>
      <div class="inline fields">
        <div class="seven wide field">
          <label>Tags</label>
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input type="text" placeholder="Enter tag">
            <button class="ui tag label button" type="button">Add Tag</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui four bottom attached buttons">
    <div class="ui button">Add Note</div>
    <div class="ui button">Clear Note</div>
    <div class="ui button">Delete Note</div>
    <div class="ui button">Cancel</div>
  </div>
</div>
