<div class="ui grid">
  <div class="two wide column">
    <div class="column">
      <div class="ui vertical fluid tabular menu">
        <a class="item active">Note</a>
        <a class="item" routerLink="/notes/new">Create</a>
        <a class="item" (click)="onNavigateBackToNotesList()">Notes List</a>
      </div>
    </div>
  </div>
  <div class="fourteen wide stretched column">
    <div class="column">
      <div class="ui basic segment">
        <div class="ui segments">
          <div class="ui top attached segment">
            <div class="ui basic segment">
              <h2 class="ui header">{{ note.title }}</h2>
            </div>
          </div>
          <div class="ui attached segment">
            <app-snippets *ngFor="let snippet of note.snippets" [snippet]="snippet"></app-snippets>
          </div>
          <div class="ui bottom attached segment">
            <div class="ui label" *ngFor="let tag of note.tags">{{ tag }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>